// ====================
// Wrapper for about, project, testimonials and contact
// ====================

.main {
  padding: 20px;
}

// ====================
// end ^^ Wrapper for about, project, testimonials and contact
// ====================

// ====================
// Popup section
// ====================

.popup {
  @include transition-duration(.6s);
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    // margin-bottom: 0;
  }

  h3 {
    color: $main-color;
  }

  input {
    background: transparent;
    border: 0;
    border-bottom: 4px solid $main-color;
    color: lighten($main-color, 5%);
    outline: 0;
    padding: 10px 15px;
    width: 50%;
  }

  button {
    background-color: $main-color;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    outline: 0;
    transform: translateY(12px);
    width: 12%;
  }
}

// ====================
// end ^^ Popup section
// ====================

// ====================
// Sneaky Nav
// ====================

.sneaky-nav {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: 0.6s;
  z-index: 1;

  .nav-item {
    color: #c98475;
    text-decoration: none;
    padding: 25px;
  }
}

// ====================
// end ^^ Sneaky Nav
// ====================

// ====================
// About me section
// ====================


.about-me {
  @extend %section-modifier;

  p {
    @include span-columns(7);
    @include shift(2.2);
    color: $main-color;
    word-spacing: 2px;
    font-size: $medium;

    img {
      margin-bottom: 35px;
    }
  }
}

// ====================
// end ^^ About me section
// ====================

// ====================
// My projects section
// ====================

.my-projects {
  @extend %section-modifier;

  .column {
    @include span-columns(6);

    img {
      @include filter(grayscale(1));
      opacity: .8;
      transition-duration: .6s;

      &:hover {
        @include filter(none);
        opacity: 1;
      }
    }

    p {
      text-align: left;

      a {
        color: $main-color;
        display: block;
        padding-top: 5px;
        text-decoration: none;

        .fa {
          padding-right: 10px;
        }
      }
    }
  }
}

// ====================
// end ^^ My projects section
// ====================

// ====================
// Testimonial section
// ====================

.testimonials {
  @extend %section-modifier;

  h3 {
    @include span-columns(6);
    @include shift(3);
  }

  .testimonial-section {
    @include span-columns(6);
    @include shift(3);

    img {
      border-radius: 50%;
    }

    img, p {
      transition-duration: 0.6s;
    }

    .testimony {
      .fa {
        display: block;
      }

      .fa-quote-left {
        text-align: left;
      }

      .fa-quote-right {
        text-align: right;
      }

      p {
        padding: 25px;
      }
    }
  }
}

// ====================
// end ^^ Testimonial section
// ====================

// ====================
// Footer
// ====================

.footer {
  @include outer-container;

  h3 {
    @include span-columns(6);
    @include shift(3);
  }

  .social-icons, .copyright {
    @include span-columns(6);
    @include shift(3);
  }

  .social-icons {
    a {
      color: $main-color;
      display: inline-block;
      padding: 10px;
    }
  }

}

// ====================
// end ^^ Footer
// ====================
